<img src='python.png' style="width:600px;height:600px" />

In [1]:
format(8/9,".4f")

'0.8889'

In [2]:
format('reddy',"^20")

'       reddy        '

In [3]:
var_1='reey'

In [4]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [5]:
print('this \n welcome \n from reddy ')

this
 welcome
 from reddy

In [6]:
print('reddy'
     'welcome')

reddywelcome

In [7]:
print('hello \
        welcome')

hello         welcome

In [8]:
4+5

9

In [9]:
3*4

12

In [10]:
5//2

2

In [11]:
5/2

2.5

In [12]:
5**2

25

In [13]:
5==5

True

In [14]:
5!=3

True

In [15]:
5 in [1,2,3,4]

False

In [16]:
5 not in[1,2,3,4,5]

False

In [17]:
5<6 and 3<5

True

In [18]:
6<3 or 6>3

True

In [19]:
not (10>5)

False

In [20]:
input()

40

'40'

In [21]:
input("plz enter ur name:")

plz enter ur name:reddy

'reddy'

In [22]:
name=input("eneter the name")

eneter the namereddy

In [23]:
# this is an comment

In [24]:
print("""reddy
      heelo""")

reddy
      heelo

In [25]:
'''this is reddy here '''

'this is reddy here '

In [26]:
print('reedy')
print('hello')
print('welcome')

reedy
hello
welcome

In [27]:
var=int(input('enter value'))
if var<10:
    print("this is greeter than 10")
else:
    print('this is less than 10')

enter value7
this is greeter than 10

In [28]:
var=1
while(var<10):
    print(var)
    var=var+1

1
2
3
4
5
6
7
8
9

In [29]:
marks=int(input("enter the value"))
if marks>=35:
    print('got pass')
else:
    print('sry u r got fail')

enter the value78
got pass

In [30]:
marks=int(input("enter marks"))
if marks==100:
    print("perfect")
print("thank you")

enter marks99
thank you

In [31]:
var=1
while(var<=10):
    print(var)
    var=var+1

1
2
3
4
5
6
7
8
9
10

In [32]:
var=int(input(" enter the marks"))
if var<100:
    if var<35:
        print('fail')
    else:
        print("pass")
else:
    print("wrong input")
print("thanks to u")

 enter the marks78
pass
thanks to u

In [33]:
x=10
y=20
z=30
if x>y:
    print("x is greter")
else:
    if y>z:
        print("y is greter")
    else:
        print("z is greter")

z is greter

In [34]:
5 in[1,2,3,4,5]

True

In [35]:
for letter in "python":
    print("the letter is",letter)

the letter is p
the letter is y
the letter is t
the letter is h
the letter is o
the letter is n

In [36]:
for num in [1,2,3,4]:
    print(num)

1
2
3
4

In [37]:
string='reddy'
for a in (string):
    print(a)

r
e
d
d
y

In [38]:
for num in [22,33,44,35,22,50]:
    if num<=36:
        print(num," is gretter than 36")
    else:
        print(num," is less than 36")

22  is gretter than 36
33  is gretter than 36
44  is less than 36
35  is gretter than 36
22  is gretter than 36
50  is less than 36

In [39]:
var=1
while(var<=5):
    print(var)
    var=var+1
print("good bye")

1
2
3
4
5
good bye

In [40]:
var=1
while (var<5):
    if var==3:
        break
    else:
        print(var)
        var=var+1
print("than you")

1
2
than you

In [41]:
for var in range(1,10):
    if var==6:
        break
    else:
        print(var)

1
2
3
4
5

In [42]:
name='brahmananda reddy'
for string in (name):
    if (string == 'e'):
        break
    else:
        print(string)
print("thank you")

b
r
a
h
m
a
n
a
n
d
a

r
thank you

In [43]:
name="brahma reddy"
for string in name:
    if string=='a':
        continue
    else:
        print(string)

b
r
h
m

r
e
d
d
y

In [44]:
var=10
while var>0:
    var=var-1

In [45]:
list1=[20,30,40,5,6.4]
list1[2]=2.3

In [46]:
list1

[20, 30, 2.3, 5, 6.4]

In [47]:
list1.insert(2,"hello")

In [48]:
list1

[20, 30, 'hello', 2.3, 5, 6.4]

In [49]:
del list1[2]

In [50]:
list1

[20, 30, 2.3, 5, 6.4]

In [51]:
list1.sort()
list1

[2.3, 5, 6.4, 20, 30]

In [52]:
list2=['animals','monkey','dog','banana','robo']
list2

['animals', 'monkey', 'dog', 'banana', 'robo']

In [53]:
list2.sort()
list2

['animals', 'banana', 'dog', 'monkey', 'robo']

In [54]:
list2.append('donkey')
list2

['animals', 'banana', 'dog', 'monkey', 'robo', 'donkey']

In [55]:
list1

[2.3, 5, 6.4, 20, 30]

In [56]:
list2

['animals', 'banana', 'dog', 'monkey', 'robo', 'donkey']

In [57]:
list2.reverse()
list2

['donkey', 'robo', 'monkey', 'dog', 'banana', 'animals']

In [58]:
fruits=['banana','apple']
fruits

['banana', 'apple']

In [59]:
fruits.reverse()
print(fruits)

['apple', 'banana']

In [70]:
list1=[1,2,3,4]

In [62]:
list1[2]=34
list1

[1, 2, 34, 4]

In [63]:
list1.insert(3,"reddy")
list1

[1, 2, 34, 'reddy', 4]

In [64]:
list1

[1, 2, 34, 'reddy', 4]

In [65]:
list1.append(6)
list1

[1, 2, 34, 'reddy', 4, 6]

In [66]:
list1.reverse()
print(list1)

[6, 4, 'reddy', 34, 2, 1]

In [67]:
list1

[6, 4, 'reddy', 34, 2, 1]

In [71]:
list1.sort()
list1

[1, 2, 3, 4]

In [72]:
tupl1=('dog','cat','monkey')
tupl1

('dog', 'cat', 'monkey')

In [73]:
tupl1[2]

'monkey'

In [74]:
tupl=((21,2,22,33),(44,33,66))
tupl[0][0]

21

In [75]:
string='reddy'
list1=[20,3034,40,54]
tuple1=(3,4,5,6,2,4)

In [76]:
len (string)

5

In [77]:
len(list1)

4

In [78]:
len(tuple1)

6

In [79]:
string[1]

'e'

In [80]:
list1[3]

54

In [81]:
tuple1[2]

5

In [82]:
string[1:4]

'edd'

In [83]:
list1[1:2]

[3034]

In [84]:
tuple1[3:]

(6, 2, 4)

In [85]:
string.count('e')

1

In [86]:
list1.count(2)

0

In [87]:
tuple1.count(3)

1

In [88]:
string.index('e')

1

In [89]:
list1.index(54)

3

In [90]:
'e' in string

True

In [91]:
"e" not in string

False

In [92]:
name='brahma'
ini='reddy'
name+ini

'brahmareddy'

In [93]:
list1

[20, 3034, 40, 54]

In [94]:
min(list1)

20

In [95]:
max(list1)

3034

In [96]:
min('a')

'a'

In [97]:
sum(list1)

3148

In [98]:
sum(tuple1)

24

In [99]:
list1=[1,2,3,2,3,5,4]

In [100]:
list2=list1

In [101]:
list1

[1, 2, 3, 2, 3, 5, 4]

In [102]:
list2

[1, 2, 3, 2, 3, 5, 4]

In [103]:
list1[2]='reddy'

In [104]:
list1

[1, 2, 'reddy', 2, 3, 5, 4]

In [105]:
list2

[1, 2, 'reddy', 2, 3, 5, 4]

In [106]:
list3=list(list1)

In [107]:
list3

[1, 2, 'reddy', 2, 3, 5, 4]

In [108]:
list1[0]='22'

In [109]:
list1

['22', 2, 'reddy', 2, 3, 5, 4]

In [110]:
list3

[1, 2, 'reddy', 2, 3, 5, 4]

In [111]:
result=[x**2 for x in[1,2,3,4]]
result

[1, 4, 9, 16]

In [112]:
list1=[1,2,3,5]

In [113]:
list1[1]

2

In [114]:
list1[-3]

2

In [115]:
list1[-3:-1]

[2, 3]

In [116]:
range(0,10)

range(0, 10)

In [117]:
def avg(n1,n2,n3):
    return(n1+n2+n3)/3.0
result=avg(10,20,30)
result=avg(2,3,4)
print(result)
print(result)

3.0
3.0

In [118]:
def function():
    print("welcome")
    print("to the man")
function()

welcome
to the man

In [120]:
def average(n1,n2,n3):
    return(n1+n2+n3)/3.0
print("welcome:enter the numbers")
result1=int(input())
result2=int(input())
result3=int(input())
a=average(result1,result2,result3)
print(a)

welcome:enter the numbers
78
99
09
62.0

In [121]:
def f1():
    n=10
    print("the n value is:",n)
def f2():
    n=20
    print("the n value is:",n)
    f1()
f2()

the n value is: 20
the n value is: 10

In [122]:
n=10
def f1():
    print(n)
def f2():
    n=20
    print(n)
    f1()
f2()

20
10

In [123]:
var=10
def f1():
    global var
    var=var+1
    print(var)
    return
f1()

11

In [124]:
print(0o10)

8

In [125]:
a=lambda var1,var2:var1+var2
print('the sum of numbers is:',a(10,20))

the sum of numbers is: 30

In [126]:
def function1(*request):
    for i in (request):
        print(i)
    return
function1(1,2,3,4)
function1(2,44,55,22,33)
function1(56,90,65)

1
2
3
4
2
44
55
22
33
56
90
65

In [127]:
import math

In [128]:
math.e

2.718281828459045

In [129]:
math.e**2

7.3890560989306495

In [130]:
math.exp(2)

7.38905609893065

In [131]:
math.sqrt(81)

9.0

In [132]:
math.log(10)

2.302585092994046